p {
    color: red;
    font-size: 22pt;
}

p#gruby_jankowski {
    color: green;
    font-size: 17pt;
    font-weight: bold;
}

#dlawszyskich_jankowski {
    color: yellow;
    font-size: 10pt;
    font-family: Arial, sans-serif;
}
/* Jankowski Z22_css */