body {
    background-color: red;
}

p.duzy_jankowski {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}

span.sredni_jankowski {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}
/* Jankowski Z17_p1_css */